<a href="/programmes/{{.ID}}" title="{{.Title}}" class="list-item-link stat">
    {{if .Number}}
        <div class="number" aria-hidden="true">{{.Number}}</div>
    {{end}}
    <div class="title top-title">{{.Title}}</div>

    <div class="primary">
        <div class="r-image">
            <img class="img" src="{{.Image}}" alt="{{.Title}}" />
        </div>
        <div class="overlay"></div>
        {{if .Labels}}
            <div class="signpost editorial">{{.Labels.Editorial}}</div>
        {{end}}
        <div class="play-icon"><i aria-hidden="true" class="icon tviplayericon tviplayericon-iplayer"></i></div>
    </div>

    <div class="secondary">
        <div class="title">{{.Title}}</div>
        {{if .Subtitle}}
            <div class="subtitle">{{.Subtitle}}</div>
        {{end}}
        <p class="synopsis">{{.Synopses.Medium}}</p>
        <p>
            {{if .MasterBrand}}
                <span class="master-brand">
                    <span class="small">{{.MasterBrand.Titles.Small}}</span>
                    <span class="medium">{{.MasterBrand.Titles.Medium}}</span>
                </span>
            {{end}}
        </p>
    </div>
</a>

